<hr class="divider">
<div class="checkout-confirm">
  <div class="checkout-grp">
    <div class="coupon-total-price">Total</div>
    <div class="coupon-total-price">
      {{ total | exchange: rates[index].value | currency:
      rates[index].currency: 'symbol-narrow' }}

    </div>
  </div>
  <div class="checkout-grp">
    <button class="button-back submit_btn"
            type="reset" (click)="service.goBack()">
      <span class="button-label">Back</span>
    </button>
    <button class="button-save submit_btn"
            (click)="service.sendOrders()">
      <span class="button-label">Checkout</span>
    </button>
  </div>
</div>
