<form id="new-coupon" enctype="multipart/form-data"
      [formGroup]="form"
      (ngSubmit)="saveCertificate()">
  <div id="add-new-wrapper" class="add-new-wrapper">
    <div class="column">
      <div class="row-grp">
        <label class="input-label" for="company">Company</label>
        <input type="text" id="company" class="input-company" formControlName="company"
               required>
        <label class="input-label">
          <span
            class="material-symbols-outlined input-prefix">expand_more</span>
          Category</label>
        <app-dropdown-category></app-dropdown-category>
<!--        formControlName="tags"-->

        <label class="input-label" for="expired-date">
          <span class="material-symbols-outlined input-prefix">event</span>
          Valid to</label>
        <input type="date" id="expired-date" class="input-expired-date"
               value="2023-12-12" formControlName="expired" required>
        <label class="input-label" for="price">Price</label>
        <input type="number" id="price" class="input-price" formControlName="price"
               required>
        <label class="input-label" for="images">Images</label>
        <label class="custom-file-upload">
          <input id="images" type="file" formControlName="file" accept="images/*">
          <span class="material-symbols-outlined">photo_library</span>
        </label>
      </div>

      <div class="row-grp">
        <label class="input-label" for="item-name">Item Name</label>
        <input type="text" id="item-name" class="input-item-name" formControlName="name"
               required>
        <label class="input-label" for="long-desc">Long Description</label>
        <textarea id="long-desc" class="input-desc" formControlName="description"
                  required></textarea>
        <label class="input-label" for="short-desc">Short Description</label>
        <textarea id="short-desc" class="input-desc"
                  formControlName="shortDescription"></textarea>
        <div class="confirm">
          <button class="button-back submit_btn" type="reset"
                  (click)="service.goBack()">
            <span class="button-label">Back</span>
          </button>
          <button type="submit" class="button-save submit_btn">
<!--                  [disabled]="!form.valid">-->
            <span class="button-label">Save</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
