<form id="login-form" class="main-wrapper" [formGroup]="loginForm"
      (submit)="onSubmit()">
  <div class="circle">
    <div class="logo-avatar">Logo</div>
  </div>
  <input class="signup-button logo-button" placeholder="Login"
         formControlName="username">
  <input class="password-button logo-button" placeholder="Password"
         type="password" formControlName="password">
  <button id="submit-button" class="login-button logo-button" type="submit">
    <span class="login-label">Login</span>
  </button>
</form>
