@font-face {
  font-family: "Berlin Sans FB Demi";
  src: url("./css/fonts/BRLNSDB.woff") format("truetype");
  font-weight: bold;
}

body {
  font-style: $font-style;
  font-family: $card-font;
  font-weight: $font-weight;
  background-color: $silver-color;
}

.white-theme {
  background-color: $white-color;
}

body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

#container {
  padding: 0 7%;
  @include center-justify-content(center);
}

footer {
  position: sticky;
  @include box(100%, 8%);
  bottom: 10px;
  background-color: $white-color;
}

.single-page-footer {
  bottom: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.dropdown {
  width: 180px;
  position: relative;
  display: inline-block;
}

#drop-header {
  float: left;
}

.drop-button {
  background-color: $secondary-color;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  @include box(182px, 52px);
}

.drop-button:hover,
.drop-button:focus {
  background-color: $secondary-hover-color;
}

.dropdown-content a {
  box-sizing: border-box;
  width: 180px;
  color: $black-color;
  padding: 12px 0 10px 10px;
  text-decoration: none;
  display: block;
}

#input-search {
  box-sizing: border-box;
  background-color: transparent;
  font-size: 16px;
  padding: 14px 0 10px 10px;
  border: none;
  border-bottom: 1px solid $light-gray-color;
  width: 178px;
}

.search-icon {
  position: relative;
  display: inline-block;
}

.material-symbols-search {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  pointer-events: none;
}

#input-search:focus {
  outline: 3px solid $light-gray-color;
}

.dropdown-content {
  z-index: 6;
  width: 180px;
  display: none;
  position: absolute;
  background-color: $silver-color;
  border: 1px solid $light-gray-color;
}

.dropdown-content a:hover {
  width: 180px;
  background-color: $gainsboro-color;
}

.show {
  display: block;
}
