.input-itemname,
.input-company,
.input-image,
.select-category,
.input-price,
.input-expired-date,
.input-desc {
  margin-left: 10px;
  margin-top: 3px;
  background: #ffffff;
  box-sizing: border-box;
  @include box(420px, 50px);
  border: 1px solid #dedede;
}

.input-desc {
  @include box(420px, 135px);
  box-sizing: border-box;
}

.add-new-wrapper {
  @include center-justify-content(center);
}

.row-grp {
  @include flex-direction(column);
  justify-content: flex-start;
}

.column {
  @include flex-direction(row);
}

.input-label {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

input[type="file"] {
  display: none;
}

.custom-category,
.custom-file-upload {  
  margin: 10px;
  cursor: pointer;
  padding: 13px 10px;
  box-sizing: border-box;
  @include box(420px, 50px);
  border: 1px solid #dedede;
}

.custom-category span,
.custom-file-upload span {
  float: right;
  color: $icon-color;
  background-color: $white-color;
}

.input-prefix {
  width: 27px;
  cursor: pointer;
  margin-top: 33px;
  margin-left: 390px;
  position: absolute;
  color: $icon-color;
  background-color: $white-color;
}

.date-input {
  position: relative;
}
