svg:hover {
  width: 70%;
  height: 70%;
  transition: 0.5s ease-out width;
}

svg {
  width: 50%;
  color: black;
  pointer-events: none;
}

.scroll-top:hover {
  transform: scale(1);
}

.scroll-top.show {
  display: flex;
}
