version: '3'
services:
  sonarqube:
    image: sonarqube:lts
    depends_on:
      - db
    environment:
      - SONAR_JDBC_URL=jdbc:postgresql://db:5432/sonar
      - SONAR_JDBC_USERNAME=sonar
      - SONAR_JDBC_PASSWORD=sonar
    volumes:
      - ./settings.xml:/opt/sonarqube/conf/settings.xml
    networks:
      - sonarnet

  jenkins:
    image: jenkins/jenkins
    ports:
      - "8080:8080"
    volumes:
      - ./casc.yaml:/var/jenkins_home/casc_configs/casc.yaml
      - ./plugins.txt:/usr/share/jenkins/ref/plugins.txt
      - ./Jenkinsfile:/var/jenkins_home/Jenkinsfile
    environment:
      - CASC_JENKINS_CONFIG=/var/jenkins_home/casc_configs
    networks:
      - sonarnet

  tomcat:
    image: tomcat
    ports:
      - "8082:8080"
    networks:
      - sonarnet

  db:
    image: postgres
    environment:
      - POSTGRES_USER=sonar
      - POSTGRES_PASSWORD=sonar
    networks:
      - sonarnet

networks:
  sonarnet:
