.scroll-top {
  display: none;
  position: fixed;
  height: 60px;
  width: 60px;
  background-color: white;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.336);
  transform: scale(0.9);
  transition: 0.3s ease-in-out transform;
  align-items: center;
  justify-content: center;
}

svg {
  width: 50%;
  color: black;
  pointer-events: none;
}

.scroll-top:hover {
  transform: scale(1);
}

.scroll-top.show {
  display: flex;
}
