@import '../../../shared/variables';

body {
  font-style: $font-style;
  font-family: $card-font;
  font-weight: $font-weight;
  background-color: $silver-color;
}

.white-theme {
  background-color: $white-color;
}
