<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://source.unsplash.com">
  <link rel="preconnect" href="https://raw.githubusercontent.com">
  <title>Store</title>
</head>
<body>
  <app-header></app-header>
  <app-category></app-category>
  <app-container id="container" class="container"></app-container>
  <app-footer></app-footer>
</body>
</html>
